/* General CSS */
body {
  background-color: rgb(142,202,230);
}

button {
  border: 1px solid rgba(47,47,47,1);
  border-radius: 4px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 2em;
  height: 50px;
  margin: 2px;
  width: 50px;
}

h1 {
  display: flex;
  font-family: 'Courier New', Courier, monospace;
  justify-content: center;
}

/* Button colors */
.backspace,
.clear {
  background-color: rgb(33, 158, 188);
}

/* Equals button */
.calculator-row-6 .operator {
  background-color: rgb(251,133,0);
  /*background-color: rgb(255, 183, 3);*/
  height: 108px;
}

.number,
.decimal { 
  background-color: rgb(2,48,71);
  color: white;
}

.operator {
  background-color: rgb(251,133,0);
}

/* Calculator container */
.container-bottom-2-rows {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.container-bottom-rows-equals {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.container-equals {
  height: 112px;
  padding-right: 1px;
}

.calculator-container {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* Calculator display box */
.display-container {
  background-color: white;
  border-radius: 4px;
  border: inset 3px black;
  font-family: 'Courier New', Courier, monospace;
  font-size: 2.5em;
  min-height: 50px;
  justify-content: flex-end;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: right;
  word-wrap: break-word;
  width: 217px;
}

.calculator-display {
  color: gray;
  font-size: smaller;
}

/* Calculator rows */
.calculator-row-1, 
.calculator-row-2,
.calculator-row-3
{
  align-items: center;
  background-color: white;
  border: 0px 1px; 
  border-style: solid rgba(47,47,47,1);
  border-radius: 1px;
  display: flex;
  justify-content: space-evenly;
  padding: 1px;
  width: 215px;
}

.calculator-row-4, 
.calculator-row-5
{
  align-items: center;
  background-color: white;
  border: 0px 1px; 
  border-style: solid rgba(47,47,47,1);
  border-radius: 1px;
  display: flex;
  justify-content: space-evenly;
  padding: 1px;
  width: 160px;
}

.calculator-row-6 {
  align-items: center;
  background-color: white;
  border: 0px 1px; 
  border-style: solid rgba(47,47,47,1);
  border-radius: 1px;
  display: flex;
  justify-content: space-evenly;
}